
.header{
    color:#F63E7B;

}
.button{
    background-color: #F63E7B;
    color:white;
    
  
}
    

.head{
 
    margin-left: 80px;
}

.img{
    margin-left: 80px;
}
.service-head{
    background-color: #F63E7B;
    color:white;
    width:180px;
    margin-left: 550px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    height:50px;
    margin-top: 60px;
}
.price{
    margin-left: 80px;
    color:#F63E7B;

}
