
.banner-head{
    color:#111430;
}
.banner-button{
    background-color: #F63E7B;
    color:white;
    width:180px;
    border-radius: 5px;
    padding: 10px;
    height:50px;

}


.btn:hover{
    color:black;
}